@font-face {
    font-family: 'crazy';
    src: url(./assets/fonts/SuperFunky-lgmWw.ttf);
}

body{
    background-color: rgb(242, 219, 194);
    font-family: 'Poppins','Roboto';
}

nav{
    background-color: rgb(242, 219, 194);
    width: 100%;
    display: flex;
    padding: 4px 16px;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-family: 'crazy';
    color: rgb(14, 7, 97);
    font-size: 1.2rem;
    letter-spacing: 1px;;
}
nav button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 500;
}
